opencv-python-headless==4.10.0.84
httpx==0.28.1
redis==5.2.1
paho-mqtt==2.1.0
pydantic==2.10.4
pydantic-settings==2.7.1
python-dateutil==2.9.0
jinja2==3.1.4
uvicorn[standard]==0.34.0
fastapi==0.115.6
